*{
    
    background-size: cover;
}

.fondo{
    background-image: url(/imagenes/fondo.jpg);
    width: 100%;
display: block;
}

h1{
    text-align: center;
    margin-top: 5ram;
    

}

.p
{
    text-align: center;
    margin-top: 2ram;
    padding: 2%;
}

.encabezado{
    background-color: blueviolet;
    border-width: 50px;
    border-width: 10%;
    border-right: 50px;
}
.formul{
    width: 40%;
    margin-left: 30%;
}
.principal{
    border-color:violet;
    border-style:ridge;
    border-width: 20px;
    border-right: 5px;

}

.titulo{
    text-align: center;
    text-decoration: dotted;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo{
    text-align: center;
    text-decoration-color: bisque;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.boton{
    
    background-color: blueviolet;
}